*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body
{
	font-family: 
}
header
{
	background: #f7fdfe;
	padding: 28px;
}
.container
{
	width: 940px;
	margin: auto;
}
.container:after
{
	display: block;
	content: '';
	clear: both;
}
nav
{
	float: right;
}
nav ul
{
	list-style: none;
}
nav ul li
{
	float: left;
}
nav ul li a
{
	text-decoration: none;
	padding: 20px;
}
nav ul li:last-child
{
	color: #fff;
	background: #0ebfdd;
	border-radius: 20px;
	padding: 10px;
	margin-top: -7px;
}