.banner
{
	background: #007bff;
	padding: 80px 0;
}
.banner h2
{
	color: #fff;
	font-size: 33px;
}
.banner p
{
	color: #ccc;
}
button
{
	font-size: 10px;
}
footer
{
	background: #343a40;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}