*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	margin: auto;
}
body
{
	background: #f5f5f5;
}
.page
{
	width: 100%;
	height: 1048px;
	padding: 0px;
	margin-right: 0px;


}
.header
{
	width: 940px;
	height: 190px;
	padding: 20px;
}
.logo1 img
{
	height: 150px;
	width: 150px;
	float: left;
	display: block;
}
.logo2 img
{
		float: right;
		width: 650px;
		height: 143px;
}
.banner 
{

}
.banner img
{
	height: 1048px;
	width: 100%;
	margin-right: 0px;
}
nav
{
	background: #fff;
	height: 90px;
}
nav ul 
{
	text-decoration: none;
}
nav ul li
{
	list-style: none;
	float: left;
}
nav ul li a
{
	text-decoration: none;
	padding: 20px;
	color: #000;
}
nav a:hover {
  background: #ddd;
  color: blue;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.row1
{
	float: left;
	background: #000;
	width: 100%;
	margin-right: 0px;
}
.col-md-5 img
{
	height: 370px;
	width: 353px;
	padding-top: 50px;
}
.col-md-5